<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="SpecBind" />
    </stepAssemblies>
    <unitTestProvider name="MsTest" />
    <plugins>
      <add name="SpecBindGeneratorPlugin" path="..\lib" type="Generator" />
    </plugins>
  </specFlow>
  <specBind>
    <application startUrl="http://localhost/ContosoUniversity/" />
    <browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="chrome" reuseBrowser="true" validateWebDriver="true" >
      <settings>
        <add name="ChromeArguments" value="--headless" />
      </settings>
    </browserFactory>
  </specBind>
</configuration>
