<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind"/>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/></configSections>
  <specBind>
    <application startUrl="http://localhost:2222" retryValidationUntilTimeout="false" waitForStillElementBeforeClicking="true"/>
    <browserFactory provider="SpecBind.Tests.Support.MockBrowserFactory, SpecBind.Tests" browserType="IE"/>
  </specBind>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
